/*AboutMe.css*/

   .about-gurus-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    max-height: 500px; /* Set a max height for the scrollable area */
    max-width: 100%; /* Set a max width for the scrollable area */
    overflow: auto; /* Add both vertical and horizontal scrollbars */
    padding-right: 10px; /* Add padding to prevent scrollbar overlap */
  }
  
  .guru-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
  .guru-column {
    display: flex;
    /* flex-direction: column;
    gap: 10px; */
    flex-wrap: wrap;
  justify-content: space-around;
  }
  
  .left-column {
    width: 100%;
  }
  
  .right-column {
    width: 100%;
    color: #bdd508ed;
    font-size: large;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  
  .right-column i {
    transition: color 0.3s ease-in-out;
  }
  
  .right-column i:hover {
    color: #ff4757;
  }
  
  .right-column:hover {
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

   .guru-image {
    width: 30%;
    max-width: 70%;
    height: auto;
    padding: 5px;
  }
  
  .guru-image-1 {
    width: 50%;
    max-width: 70%;
    height: auto;
    padding: 5px;
  }

  
  .guru-image-2 {
    width: 20%;
    max-width: 15%;
    height: auto;
    padding: 5px;
  }
  
  @media (max-width: 768px) {
    .guru-image {
      width: 80%;
      max-width: 80%;
    }
  
    .guru-image-1 {
      width: 100%;
      max-width: 100%;
    }
  
    .guru-image-2 {
      width: 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    .guru-image {
      width: 40%;
      max-width: 60%;
    }
  
    .guru-image-1 {
      width: 60%;
      max-width: 60%;
    }
  
    .guru-image-2 {
      width: 30%;
      max-width: 30%;
    }
  }
  
  .centered-text {
    padding: 5px;
    text-align: center;
    color: #bdd508ed;
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    font-size: calc(0.4rem + 0.4vw); /* Reduced responsive font size */
  }
  
  @media (max-width: 768px) {
    .centered-text {
      font-size: calc(0.3rem + 0.8vw); /* Smaller screens have slightly larger text */
    }
  }
  
  @media (min-width: 769px) {
    .centered-text {
      font-size: calc(0.6rem + 0.4vw); /* Larger screens have slightly smaller text */
    }
  }
  

  
  .guru-image-small {
    width: 100%;
    max-width: 50%;
    height: auto;
  }
  
  .guru-image-1-video {
    width: 45%;
    max-width: 100%;
    height: auto;
    padding: 3px;
  }

.video-container {
  position: relative;
  width: 100%;
  max-width: 600px; 
  padding-top: 30%; 
  overflow: hidden;
  flex: 1 1 100%; 
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 65%;
}
  
  
  @media (min-width: 768px) {
    .guru-section {
      flex-direction: row;
    }
    .guru-column {
      flex-direction: row;
    }
    .left-column,
    .right-column {
      width: 50%;
    }
    .video-container {
      width: 70%;
      padding-top: 30%; 
    }
  }
  
  .responsive-text {
    font-size: 0.4rem; /* Default font size for larger screens */
    line-height: 1.5; /* Line height for better readability */
    margin: 0.5rem 0; /* Margin for spacing */
  }
  
  @media (max-width: 768px) {
    .responsive-text {
      font-size: 0.875rem; /* Smaller font size for mobile screens */
    }
  }
  