/*AboutMe.css*/

/* 
   .about-gurus-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .guru-section {
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }

  .guru-column {
    display: flex;
    flex-direction: row;
    gap: 5px; 
  }
  
  .left-column {
    flex-basis: 55%;
    flex-grow: 1;
    padding-right: 10px; 

  }
  
  .right-column {
    flex-basis: 45%;
    flex-grow: 1;
    color: #bdd508ed;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
    font-size: large;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-rendering: auto;
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

    
  }

  .right-column i:hover {
    color: #ff4757;
  }
  
  .right-column:hover {
    animation: fadeInOut 3s ease-in-out;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .guru-image {
    width: 50%;
    max-width: 50%;
    height: auto;
  }
  .guru-image-1 {
    width: 90%;
    max-width: 30%;
    height: 70%;
    padding-left: 5%;
  }

  .guru-image-Kiruthika {
    width: 100%;
    max-width: 70%;
    height: 100%;
    padding-left: 5%;
    padding-bottom: 5%;
  }


  .guru-image-1-mam {
    width: 50%;
    max-width: 20%;
    height: 46%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .guru-image-1-mam-group {
    width: 100%;
    max-width: 40%;
    height: 44%;
    padding-left: 5%;
    padding-right: 5%;

  }
  .guru-image-horiz-vandana {
    width: 150%;
    max-width: 100%;
    height: 80%;
  }
  .guru-image-horiz-mam {
    width: 70%;
    max-width: 70%;
    height: 47%;
  }
  .guru-image-horiz-jv {
    width: 100%;
    max-width: 80%;
    height: 45%;
  }

  .description-column {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .youtube-video {
    width: 60%;
    height: 60%;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    height: 100;
    padding-top: 56.25%; 
    overflow: hidden;
  }
  
  .guru-description {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
   */

   .about-gurus-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  
  .guru-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .guru-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .left-column {
    width: 100%;
  }
  
  .right-column {
    width: 100%;
    color: #bdd508ed;
    font-size: large;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  
  .right-column i {
    transition: color 0.3s ease-in-out;
  }
  
  .right-column i:hover {
    color: #ff4757;
  }
  
  .right-column:hover {
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .guru-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  
  .centered-text {
    padding: 80px;
    text-align: center;
  }

  
  .guru-image-small {
    width: 100%;
    max-width: 50%;
    height: auto;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
  }
  
  .youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  @media (min-width: 768px) {
    .guru-section {
      flex-direction: row;
    }
    .guru-column {
      flex-direction: row;
    }
    .left-column,
    .right-column {
      width: 50%;
    }
  }
  